/*BEGIN FLipmaus Styling*/

.controller.custom{
    background: url(img/base.png);
    height: 200px;
    width: 800px;
    background-position-x: 0px;
    background-repeat:no-repeat;
}
.custom.disconnected { 
    background: url(img/disconnected.png);
    background-repeat:no-repeat;
}
.custom.disconnected div {
    display: none;
}


/* base class used to simplify the sprite mapping */
.custom .button{
    position: absolute;

}
.custom .x.button.pressed{
    width:60px;
    height:60px;
    left: 220px;
    top: 180px;
    background: url(img/one.png);
}

.custom .x{ 
    background-position: -104px 0px;
    top: 409px;
    left: -60px;
    background-repeat:no-repeat;
}
.custom .y.button.pressed{
    width:60px;
    height:60px;
    left: 505px;
    top: 112px;
    background: url(test_img/X.png);
}

.custom .y{ 
    background-position: -104px 0px;
    top: 409px;
    left: -60px;
    background-repeat:no-repeat;
}

.custom .sticks{
    position: absolute;
    width: 310px;
    height: 100px;
    top: 374px;
    left: 240px;
    background-repeat:no-repeat;
}
.custom .stick.left{
    position: absolute;
    background: url(test_img/stick.png);
    height:88px;
    width: 88px;
    background-repeat:no-repeat;
}
.custom .stick.pressed.left{
    background-position-x: -88px;
}


.custom .stick.left{
    top: -301px;
    left: -16px;
}


/*END FLipmaus Styling*/
