/*BEGIN FLipmaus Styling*/

.controller.custom{
    background: url(img/base.png);
    height: 142px;
    width: 631px;
    background-position-x: 0px;
    background-repeat:no-repeat;
}

/*END FLipmaus Styling*/
